.breathing-text {
  -webkit-animation: breathing-text var(--dur, 5s) ease-in-out infinite
    var(--wait, 0s);
  animation: breathing-text var(--dur, 5s) ease-in-out infinite var(--wait, 0s);
}

@-webkit-keyframes breathing-text {
  0%,
  100% {
    letter-spacing: normal;
  }

  50% {
    letter-spacing: 0.35rem;
  }
}

@keyframes breathing-text {
  0%,
  100% {
    letter-spacing: normal;
  }

  50% {
    letter-spacing: 0.35rem;
  }
}
